body.aboutmebody {
  padding-top: 60px;
  background-image: url(back.gif);
  background-size:fill;
  background-clip: border-box;
}
body.homepagebody {
  padding-top: 100px;
  background-color: lightgray;
}   
.navbar {
    background-color: #65c406;
    text-align: center;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1000;
    font-size: 30px;
    font-weight: bold;
    font-family: papyrus;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 10px 10px;
  display: inline-block;
}

.navbar a:hover {
  background-color: green;
}

.navbar a.active {
  background-color: gray;
  color: green;
}

img.aboutmephoto {
    display: block;
    border-radius: 20px;
    border: 4px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

body.aboutmebody p {
    font-size: 24px;
    font-family: "Comic Sans MS", "Comic Sans";
    margin: 20px;
    background-color: violet;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;

}

body.aboutmebody h1 {
    font-size: 50px;
    font-family: "Comic Sans MS";
    margin: 20px;
    background-color: violet;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid rgb(255, 251, 0);
    font-style: bold;
    text-align: center;

}

body.aboutmebody h3 {
    font-size: 30px;
    font-family: "Comic Sans MS";
    margin: 20px;
    background-color: violet;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;

}

body.aboutmebody ul {
  background-color: lightblue;
  font-size: 24px;
  font-family: "Comic Sans MS";
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid black;
  list-style: circle;
}

body.homepagebody h1{
  font-size: 75px;
  font-style: bold;
  stroke-width: 200%;
  text-align: center;
}